@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #c1ffd7;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App-header {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.input--emoji {
  width: 60%;
  height: 2rem;
  border: 2px solid black;
  border-radius: 10px;
}

.div--emoticonMeaning {
  margin-top: 1em;
  font-size: 1.5rem;
}

.span--emoji {
  font-size: 2rem;
}

.span--emoji + .span--emoji {
  margin-left: 1rem;
}
